/**
Edited by Mirko Venturi
Date: 10/11/2019
styles for Blog of Mirko Venturi
**/

h1 {

font-family: 'Trebuchet', 'Comfortaa';
font-size: 2.5em;
text-transform: uppercase;

}

h2 {

font-family: 'Trebuchet', 'Comfortaa';
font-size: 1.8em;
font-weight: 500;
text-transform: uppercase;

}

h3 {

font-family: 'Trebuchet', 'Comfortaa';
font-size: 1.6em;
font-style: italic;
text-transform: unset;
    
}

time {

font-family: 'Trebuchet', 'Comfortaa';
font-size: 1.4em;
font-weight: 500;
color: #003380; 
text-transform: uppercase;

}

p {

font-family: 'Trebuchet', 'Comfortaa';
font-size: 1.2em;
font-weight: 500;

}

label {

font-family: 'Trebuchet', 'Comfortaa';
font-size: 1.2em;
font-weight: 500;
    
}

.btn {

font-family: 'Consolas','Trebuchet MS';
font-size: 1em;

}

/* */